In [1]:
import pandas as pd
import requests

In [3]:
res = requests.get('http://localhost:2228')

In [4]:
res.content

b'<h1>Ciao Polletti</h1>'

In [5]:
res = requests.get('http://localhost:2228/json')

In [8]:
res.json()

{'messaggio': 'Ciao polletti'}

In [19]:
body = {
    'name': 'Pollo Watzlawick',
    'some_array': [21, 45, 2],
    'mission': 'IMPOSSIBLE'
}

res = requests.post('http://localhost:2228/parrot', json=body)

In [20]:
res.json()

{'parrot': {'mission': 'IMPOSSIBLE',
  'name': 'Pollo Watzlawick',
  'some_array': [21, 45, 2]}}

In [37]:
body = {
    'sentence': 'I hate this movie'
}

res = requests.post('http://localhost:2228/sentiment', json=body)

In [38]:
res.json()

{'prediction': 'neg',
 'probability': {'neg': 0.8341103545959048, 'pos': 0.1658896454040947},
 'sentence': 'I hate this movie'}

In [46]:
c = ['pos', 'neg']
p = [0.7, 0.3]

In [47]:
z = zip(c, p)

In [48]:
dict(z)

{'pos': 0.7, 'neg': 0.3}

In [49]:
df = pd.read_csv('hour.csv')

In [50]:
df

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,17375,2012-12-31,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119
17375,17376,2012-12-31,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89
17376,17377,2012-12-31,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90
17377,17378,2012-12-31,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17378,17379,2012-12-31,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49

In [52]:
body = df.head(5).to_dict()

In [57]:
res = requests.post('http://localhost:2228/bikes', json=body)

In [58]:
res.json()

{'prediction': [-71.70777507010925,
  -89.84696245842588,
  -96.54694510250135,
  -103.30565900057314,
  -105.63615893434502]}