In [8]:
import pandas as pd
import requests
# https://requests.readthedocs.io/en/master/user/quickstart/

In [ ]:
res = requests.get('http://localhost:2228')
#res
#res.content
res.json()

In [ ]:
body = {
    'name': 'Watzlawick',
    'mission': 'Learn ML in Python',
    'some_array': [3, 5, 2]
}
res = requests.post('http://localhost:2228/parrot', json=body)
res.json()

In [4]:
k = ['a', 'b']
v = [23, 5]
list(zip(k,v))
dict(zip(k,v))

{'a': 23, 'b': 5}

In [10]:
body = {
    'sentence': 'I hate this movie'
}
res = requests.post('http://localhost:2228/sentiment', json=body)
res.json()

{'predictions': 'neg',
 'probability': {'neg': 0.8341103545959048, 'pos': 0.1658896454040947},
 'sentence': 'I hate this movie'}

In [6]:
df = pd.read_csv('hour.csv')
df.head(3)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32

In [7]:
# ordine delle colonne può cambiare, perchè le rimette a posto il ColumnTransformer
df = df[df.columns[::-1]]

In [8]:
body = df.head(3).to_dict()
res = requests.post('http://localhost:2228/bikes', json=body)
res.json()

{'predictions': [-71.70777507010925, -89.84696245842588, -96.54694510250135]}

In [9]:
# tipicamente si chiede una predizione alla volta
record = df.sample().to_dict(orient='rows')[0]
record

{'cnt': 13,
 'registered': 8,
 'casual': 5,
 'windspeed': 0.2836,
 'hum': 0.41,
 'atemp': 0.4545,
 'temp': 0.46,
 'weathersit': 1,
 'workingday': 1,
 'weekday': 5,
 'holiday': 0,
 'hr': 3,
 'mnth': 5,
 'yr': 1,
 'season': 2,
 'dteday': '2012-05-11',
 'instant': 11783}

In [10]:
# fai uscire errore
# due soluzioni, o costruiamo l'array nel client o nel server
res = requests.post('http://localhost:2228/bikes', json=[record])
res.json()

{'predictions': [110.49938747651957]}